.ticket {
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;

	background-color: #fff;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

	border-radius: 5px;

	&:last-child {
		margin-bottom: 0;
	}

	&,
	&__content {
		display: flex;
		flex-direction: column;
	}

	&__header,
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__header {
		margin-bottom: 20px;
	}

	&__row {
		margin-bottom: 10px;
	}

	&__price {
		color: #2196f3;
		font-size: 24px;
	}

	&__title {
		color: #a0b0b9;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;

		width: 32%;
		margin-right: 2%;

		&:last-child {
			margin-right: 0;
		}
	}

	&__data {
		margin-top: 3px;

		font-size: 14px;
		text-transform: uppercase;
	}
}
