.ticket {
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}
}
